
* {
  box-sizing: border-box;
}

body {
  background-color: #fadae7;
  max-width: 2000px;
  margin: 0;
  height: 100%;
  font-family: "open sans", arial, helvetica, sans-serif;
  font-size: calc(12px + (20 - 12) * (100vw - 320px) / (1600 - 320));
}

.row {
  display: flex;
  padding: 1em;
}

nav {
  background-color: #d999e1;
  justify-content: end;
}

nav .row {
  flex-direction: row;
}

a {
  color: #fff;
  text-decoration: none;
}

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #ca35de;
}

a:active {
  color: #f63684;
}
/*added black for my "you are here" indicator because all the other colors were too hard to see */
a.current {
  color: #000000;
  text-decoration: underline;
}
nav a {
  display: inline-block;
  padding: 5px;
}

header {
  text-align: left;
  padding-left: 30px;
  padding-top: 100px;
}

header.head {
  text-align: center;
  padding-bottom: 10px;
}



header.hero {
  height: 60vh;
  min-height: 350px;
}

header h1 {
  font-family: "Bebas Neue";
  font-size: 4em;
  margin: 0;
  color: #f63684;
}

header p {
  font-family: "Bebas Neue";
  font-size: 1em;
  margin: 0;
  color: #d999e1;
}

.hero {
  background-image: url(../images/kpopcity_hero.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #fadae7;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
  background-color: #f63684;
  color: #fff;
  padding: 12px 20px;
  border: 10px;
  margin: 20px 1px;
  margin-top: 30px;
  margin-bottom: auto;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #d999e1;
}

div.albums {
display: flex;
flex-wrap: wrap;
max-width: 100%;
justify-content: center;
}

figure {
  flex-basis: 23%
}

figure img {
  max-width: 100%;
}

p.prices {
  justify-content: left;
  color: #ca35de;
}

.fa-bag-shopping {
  font-size: 30px;
  color: #f63684;
}

.column {
  width: 50%;
  margin: 0 auto;
  margin-top: 6px;
  padding: 20px;
  padding-bottom: 50px;
}

.cube .row {
  justify-content: center;
}

.cube {
  padding: 1px;
  margin: 1vw;
  border: 1px;
  margin-left: auto;
  margin-right: auto;
}

.cube h2 {
  font-family: "bebas neue", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #f63684;
  font-size: 35px;
}

/* change: added white color to the boxes */
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid #d999e1;
  padding: 10px;
  margin: 1vw;
  border-radius: 30px;
  display: inline-block;
  flex-basis: 300px;
  background-color: #fff;
}

.content img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
}

.content h3 {
  text-align: center;
  margin: 1vw;
  font-family: "bebas neue", Arial, Helvetica, sans-serif;
  color: #f63684;
}

.content p {
  padding: 1px;
  margin: 1em;
  font-family: "open sans", Arial, Helvetica, sans-serif;
  font-size: small;
}

footer {
  background-color: #d999e1;
  padding: 1vw 3vw;
}

footer div.row {
  justify-content: space-between;
}

footer iframe {
  display: block;
  max-width: 100%;
}

footer h2 {
  font-family: "bebas neue", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #f63684;
}

footer .end {
  text-align: center;
}

/*media query: centered my content boxes for smaller screens. before adding the query, my boxes were way too far left on small screen.*/
@media screen and (max-width: 600px) {
  .row,
  .albums {
    flex-direction: column;
    align-items: center;
  }

  nav.row {
    flex-direction: row;
  }
}